.idea/
venv/
__pycache__/
*.pyc
*.log
check_setup.py
trash/
models/
motivator/models/
dataset/*
!dataset/raw/
!dataset/processed/
dataset/raw/*
dataset/processed/*
!dataset/raw/dataset_finale_ready_v3.csv
!dataset/processed/dataset_instruction.jsonl
scripts/*
!scripts/train_mistral_v3.py
!scripts/jsonConverter.py
!scripts/game_backend_v3_motivator.py
game/*
!game/main_v3_motivator.py